body
  margin-top: 30px
  margin-bottom: 30px

.container-fluid
  margin-left: 40px
  margin-right: 40px

#logo
  max-width: 540px

q, cite
  font-family: $font-family-serif
  font-style: italic

q
  display: block
  font-size: 24px
  color: $gray-light

cite
  display: block
  color: lighten($gray-light, 5%)
  text-align: right

#content
  margin-top: 30px
  margin-bottom: 30px

#app
  ol
    padding: 0
    margin: 0
    list-style: none

    li
      border: 1px solid $gray
      padding: 1em
      margin-top: 20px
      margin-bottom: 20px

      &.active
        border-color: #33B5E2

      &.disabled
        border-color: $gray-lighter
        color: $gray-light
